In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv("data.csv")

print("Original Data:\n", df)


df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

df['Age'].fillna(df['Age'].mean(), inplace=True)  # Replace missing/invalid age with mean
df['Salary'].fillna(df['Salary'].median(), inplace=True)  # Replace missing salary with median
df['JoinDate'].fillna(method='ffill', inplace=True)  # Forward-fill JoinDate
df['Name'].fillna('Unknown', inplace=True)  # Replace missing names

df.drop_duplicates(inplace=True)


df['Salary_Normalized'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

df = pd.get_dummies(df, columns=['Department'], drop_first=True)

print("\nCleaned Data:\n", df)

df.to_csv("cleaned_data.csv", index=False)

Original Data:
       Name     Age   Salary Department    JoinDate
0  Malika       29  50000.0         IT   1/15/2020
1   Anjana      22  62000.0         HR   7/23/2019
2   Lokesh      31      NaN         IT  11/10/2018
3   Fauda       29  50000.0         IT   1/15/2020
4  Manisha      25  58000.0    Finance         NaN
5      NaN      34  72000.0  Marketing    3/5/2021
6    Rajat  thirty  65000.0         HR   6/17/2020

Cleaned Data:
       Name        Age   Salary    JoinDate  Salary_Normalized  Department_HR  \
0  Malika   29.000000  50000.0   1/15/2020           0.000000          False
1   Anjana  22.000000  62000.0   7/23/2019           0.545455           True
2   Lokesh  31.000000  60000.0  11/10/2018           0.454545          False
3   Fauda   29.000000  50000.0   1/15/2020           0.000000          False
4  Manisha  25.000000  58000.0   1/15/2020           0.363636          False
5  Unknown  34.000000  72000.0    3/5/2021           1.000000          False
6    Rajat  28.333333  65000.0   6/17/2020           0.681818           True

   Department_IT  Department_Marketing
0           True                 False
1          False                 False
2           True                 False
3           True                 False
4          False                 False
5          False                  True
6          False                 False

C:\Users\Nitro\AppData\Local\Temp\ipykernel_19824\1377234349.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['JoinDate'].fillna(method='ffill', inplace=True)  # Forward-fill JoinDate